/* SECCION DE MENU PRINCIPAL / NAVBAR */
.menu__principal{
    display: flex;
    align-items: center;
    padding: 30px;
}

.barra__buscar{
    width: 400px;
    border-radius: 20px;
    padding: 7px;
    border-color: lightgrey;
    margin-left: 40px;
}

.btnLogin{
    width: 100px;
    padding: 8px;
    background-color: white;
    border-color: lightskyblue;
    color: lightskyblue;
}

/* SECCION DE GALERIA */

/* STAR-WARS */
.galeria{
    margin: 3px 3px 3px 3px;
    padding: 50px;
}

.titutlo__star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnAgregar{
    width: 163px;
    height: 51px;
    padding: 16px;
    gap: 10px;
    background-color: #2A7AE4;
    border-radius: 5px;
    color: white;
    border: none;
}

.star__wars{
    display: flex;
    justify-content: space-between;
}

.img__star{
    height: 200px;
    width: 200px;
}

.opcDelete{
    margin-left: -55px;
    margin-top: 5px;
    position: absolute;
    color: white;
}

.opcEdit{
    margin-left: -30px;
    margin-top: 5px;
    position: absolute;
    color: white;
}

/* CONSOLAS */

.consolas{
    display: flex;
    justify-content: space-between;
}

.img__consola{
    height: 200px;
    width: 200px;
}

/* DIVERSOS */
.diversos{
    display: flex;
    justify-content: space-between;
}

.img__diversos{
    height: 200px;
    width: 200px;
}

/* CONTACTO */
.contacto{
    display: flex;
    flex-direction: column;
    height: 230px;
    flex-wrap: wrap;
    background-color: #EAF2FD;
    padding: 50px;
    align-content: space-between;
}

.img__contacto{
    height: 70px;
    width: 150px;
    padding: 50px;
}

.contacto__item{
    color: black;
    white-space: pre-line;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__form{
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.footer{
    text-align: center;
}